* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-container {
    height: 100dvh;
    background-color: #f1f4f9;
    display: flex;
    align-items: center;
    color: #585e76;
}

.mdark {
    background-color: #181734;
    color: #8c93ae;
}

.middle-container {
    background-color: #e3e6f0;
    height: 100dvh;
    flex: 1 1 auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.midark {
    background-color: #13112b;
    color: #8c93ae;
}

.left-container {
    height: 100dvh;
    flex: 0 0 15%;
    padding: 1.5rem;
}

.right-container {
    height: 100dvh;
    flex: 0 0 15%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-task-button {
    font-family: "Roboto", monospace;
    color: #f1f4f9;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-top: 20px;
    background-color: #9500f0;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    padding: 40px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.add-interface {
    height: 100%;
    width: 600px;
    margin: auto;
    padding: 30px;
    background-color: #e3e6f0;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.adark {
    background-color: #13112b;
}

.inputs {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    flex-direction: column;
}

.input {
    width: 100%;
    height: 50px;
    padding: 10px;
    outline: none;
    border: none;
    background-color: #FAF9F6;
    border-radius: 10px;
    margin-top: 10px;
}

.textarea {
    width: 100%;
    resize: none;
    border: none;
    padding: 15px 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.textarea:focus {
    outline: none;
}

.tdark {
    background-color: #181734;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.labels {
    display: flex;
    gap: 10px;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: #FAF9F6;
    border-radius: 50%;
    vertical-align: middle;
    border: 3px solid #FAF9F6;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: #9500f0;
}

.close-button {
    width: 14px;
    height: 14px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.close-icon {
    width: 14px;
    height: auto;
}

.middle-header {
    display: flex;
    justify-content: space-between;
}

.search-input {
    width: 200px;
    padding: 10px;
    outline: none;
    border: none;
    background-color: #FAF9F6;
    border-radius: 10px;
}

.idark {
    background-color: #181734;
    color: #8c93ae;
}

.add-task-button-middle {
    font-family: "Roboto", monospace;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #9500f0;
    width: 150px;
    padding: 10px;
    cursor: pointer;
}

.bell-icon {
    height: 35px;
    width: auto;
    cursor: pointer;
}

.menu-icon {
    height: 20px;
    width: auto;
    cursor: pointer;
}

.tasks-section {
    /*background-color: red;*/
    height: 100%;
    margin-top: 20px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, .4fr));
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.tasks-section-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 20px;
    gap: 1rem;
}
.tasks-section::-webkit-scrollbar {
    display: none;
}

.task-card {
    background-color: #FAF9F6;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    max-height: 250px;
    white-space: pre-wrap;
}
.cdark {
    background-color: #181734;
}

.empty {
    background-color: #e3e6f0;
    border-radius: 10px;
    border: 2px dashed #c7cbd2;
    color: #c7cbd2;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 170px;
    max-height: 250px;
    white-space: pre-wrap;
}

.edark {
    background-color: #13112b;
}

.task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.task-heading {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.task-tags {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.tag {
    background-color: #9ffed0;
    padding: 7px;
    color: #359974;
    border-radius: 10px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.untag {
    background-color: #f6f485;
    padding: 7px;
    color: #bf8f3c;
    border-radius: 10px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.functions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.function-icons {
    height: 20px;
    width: auto;
    cursor: pointer;
}
.function-icons:hover {
    scale: 110%;
    transition: 500ms ease;
}
.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dp {
    height: 30px;
    width: auto;
    border-radius: 50%;
}

.darkmode {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}

.darkmode-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #9500f0;
    cursor: pointer;
    border: none;
    transition: 500ms ease;
}

.darkmode-button:hover {
    transform: scale(110%)
}

hr {
    border-top: 2px dashed;
}

.delete-all {
    background-color: #ffe2e6;
    color: #ec4475;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}